<div class="jumbotron" onload="homePageLoaded()">
        <p style="text-align:left;color:white;font-family:'Open Sans', sans-serif; font-size:28px">Simplewallet</p>>
        <p style="text-align:left;color:white;font-family:'Open Sans', sans-serif; font-size:18px">
            This is a minimal example of a sawtooth 1.0 application.
            This example demonstrates, a common usecase, where a customer deposits/withdraws/transfers 
            money from a wallet account, based on public key.  
            You can:
            <ul style="text-align:left;color:white;font-family:'Open Sans', sans-serif; font-size:18px">
                <li>Deposit money into your wallet account.</li>
                <li>Withdraw money from your wallet account.</li>
                <li>Check the balance in your wallet account.</li>
                <li>Transfer money from one wallet account to another</li>
            </ul>

        </p>
      </div>
      <script src="../js/main.js"></script>
      <script type="text/javascript">
        homePageLoaded();
      </script>
{{!-- <script src="../js/loginPage.js"></script> --}}
