<div class="container-fluid" onload="transferPageLoaded()">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- form start-->
            <div class="wrapper">
            <form class="form-container">
                <div class="form-group">
                    <label style="color: white;text-align:center; font-family:'Open Sans', sans-serif;font-weight: normal; font-size: 25px;">Transfer Amount</label>
                    <input type="number" class="form-control" id="transferAmt" placeholder="e.g. 1000">
                </div>
                <div class="form-group">
                    <label style="color: white;text-align:center; font-family:'Open Sans', sans-serif;font-weight: normal; font-size: 25px;">Beneficiary User Id</label>
                    <input type="text" class="form-control" id="beneficiaryUserId" placeholder="User ID">
                </div>
                <center><button type="submit" style="color:white; align:center;" class="btn btn-lg" onclick="transferMoney()">Transfer</button></center>
                </form>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>
<script src="../js/main.js"></script>
<script type="text/javascript">
    transferPageLoaded();
</script>
