<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
    <title>Sawtooth | {{title}}</title>
  </head>
  <body>
      <h1 style="color: white;font-family:'Open Sans', sans-serif;"> sawtooth simplewallet</h1>
      <div id="headings">
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color:rgb(56,56,56)">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link" id="home" href="/home">Home   </a>
                </li>
                <li>
                    <a class="nav-link" id="deposit" href="/deposit">Deposit    </a>
                </li>
                <li>
                    <a class="nav-link" id="withdraw" href="/withdraw">Withdraw   </a>
                </li>
                <li>
                    <a class="nav-link" id="transfer" href="/transfer">Transfer   </a>
                </li>
                <li>
                    <a class="nav-link" id="balance" href="/balance">Balance    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <p id="userCredentials"  class="nav-link" style="color: white;text-align:center; font-family:'Open Sans', sans-serif;font-weight: normal; font-size: 20px;"> </p>
              <li class="nav-item"><a class="nav-link" href="/login">Logout</a></li>
            </ul>
          </div>
        </nav>
      </div>
      {{{body}}}

    
    {{!-- <script src="../js/loginPage.js"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
